
create or ALTER function fn_Cheapkala (@N int)
returns table
as 
return (with t as (
                   select top (@N)productid,productname,unitprice
				   from products
				   order by unitprice asc)
select top 1 ProductID,ProductName ,UnitPrice 
from t
order by UnitPrice desc
)
/*
tvf , top , cte
در این تمرین با استفاده از تکنیک های استفاده شده کاربر با وارد  کردن عدد مشخص میکند 
چندمین کالای ارزان شرکت نشان داده شود . کالاها بر اساس قیمت مرتب سازی شده اند 
*/