WITH T
AS
(SELECT EmployeeID , DATEDIFF(YEAR,BirthDate,getdate()) as Age , FirstName , LastName
FROM Employees
)
SELECT Max(age) AS Oldest , Min(age) AS Youngest , AVG(1.0*Age) AS [AvgAge]
FROM T
/*
در ا?نجا جوان تر?ن و مسن تر?ن و همچن?ن م?انگ?ن رنج سن? کارمندان با استفاده از توابع تجم?عی? 
محاسبه م?گردد
*/
